.container {
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  /* height: 30px; */
  width: 100%;
}

.title {
  background-color: black;
  color: white;
}

.linkedin {
  background-image: url("../../img/linkedin.png");
}
